---
layout: layout.njk
title: Nos services
permalink: "/services/index.html"
---

<section class="services-section">
  <h2>{{ siteContent.services[0].titre }}</h2>
  <p>{{ siteContent.services[0].intro }}</p>

  <div class="services-container">
    {% for service in siteContent.services[0].liste %}
      <div class="service-card">
        <h3>{{ service.nom }}</h3>
        <p>{{ service.description }}</p>
      </div>
    {% endfor %}
  </div>
</section>
